[alias]
	# View the current working tree status using
	s = status

	# View history of commits
	l = log
	lp = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"

	# Initialize a repository
	i = init

	# Adding or removing a remote
	r = remote
	rao = remote add origin
	rah = remote add github
	ral = remote add gitlab
	rr = remote rm
	rv = remote -v
	
	# Commit all changes
	ca = !git add -A && git commit -av

	# Hard reset repository
	# To last commit
	hr = reset --hard
	# To previous commit
	hr1 = reset --hard HEAD~1
	# Look into git stash && git reset --keep

	# List all alias
	aliases = config --get-regexp alias

	# Pushing to github, eecs.gitlab, origin
	phub = push github master
	plab = push gitlab master
	pori = push origin master

	# EECS 388 Group Work pushes
	pzbr = push origin ztdurgan-branch
	pgzbr = push github ztdurgan-branch

[user]
	name = Zachary Durgan
	email = ztdurgan@umich.edu
	
[core]
	# Change git commit message editor
	editor = 'emacs' 
